<div class="patient{{id}} patient-select">
    <a href="/patient/{{id}}">
        <div class="patient-name">{{first_name}} {{last_name}}</div>
        <div class="birthdate">{{format_date date_of_birth}}</div>
    </a>
</div>