<div class="rooms{{id}}">
    <a href="/rooms/{{id}}">
        <div class="rooms-name">{{room_number}}</div>
        <div class="type">{{type}}</div>
        <div class="status">{{status}}</div>
    </a>
</div>