<div class="container">
<section class="card indigo white-text">
    <div class="row">
    <img class="col s4 responsive-img circle" alt="profile pic" src="{{patient.id}}">
    <div class="col s8">
        <div class="patient-name">
            Name: {{patient.first_name}} {{patient.last_name}}
        </div>
        <div class="phone_number">
            Phone Number: {{patient.phone_number}}
        </div>
        <div class="birthdate">
            Date of Birth: {{format_date patient.dateOfBirth}}
        </div>
        <div class="gender">
        {{#if patient.gender}}
            Gender: Male
            {{else}}
            Gender: Female
        {{/if}}
        </div>
        <div class="drug_allergies">
            Drug Allergies: {{patient.drug_allergies}}
        </div>
        <div class="insurance">
            Insurance: {{patient.insurance}}
        </div>
        {{#if patient.room_id}}
        <div class="room_id">
            Room ID: {{patient.room_id}}
        </div>
        {{/if}}
        {{#if patient.address}}
        <div class="address">
            Address:
            {{ patient.address }}
            {{ patient.city }}, {{ patient.state }} {{ patient.zip_code }}
        </div>
        {{/if}}
    </div>
    </div>
</section>
</div>