<div class="container">
    <section class="card indigo white-text z-depth-5">
        <header>Staff Member</header>
        <div class="personnel-name">
            Name: {{person.name}}
        </div>
        <div class="phone_number">
            Phone Number: {{person.phone_number}}
        </div>
        <div class="job-title">
            Job Title: {{person.job_title}}
        </div>
        <!-- TODO adjust to show possible multiple rooms -->
        <div class="room-assignment">
            Room Currently Assigned: 
            {{#each person.service_staff}}
                <p>{{room_service.[0].room_number}}</p>
            {{/each}}
        </div>
        {{!-- Form to change room assignment: elements exist but don't show??? --}}
        <form action="#">
            <label for="room-updater">Update Room Assignment:</label>
            <select id="room-updater" name="room-updater" size="5" multiple>
                {{#each person.service_staff as |room|}}
                {{> room-option}}
                {{/each}}
            </select><br /><br />
            <input class="waves-effect waves-light btn" type="submit">
        </form>
        {{!-- follow the white rabbit --}}
        {{!-- <div class="test">
            {{log person.service_staff.[0].room_service.room_number}}
        </div> --}}
    </section>
</div>