<div class="container">
    <section class="card indigo white-text">
        <div class="room_number">
            Room Number: {{room.room_number}}
        </div>
        <div class="type">
            Room Type: {{room.type}}
        </div>
        <div class="status">
            Room Status: {{room.status}}
        </div>
    </section>
    <section class="card indigo white-text">
        <div class="patients-in-room">
            <p>Patients Assigned to room:</p>
            {{#each room.patients as |patient|}}
            {{> patient-details}}
            {{/each}}
        </div>
    </section>
    <section class="card indigo white-text">
        <div class="room-service">
            <p>
                Surgery: {{room.room_service.[0].surgery_type}}
            </p>
            <p>Estimated time (in hours):
                {{room.room_service.[0].estimated_hours}}
            </p>
        </div>
    </section>
    <section class="card indigo white-text">
        <div class="staff-service">
            <p>Staff Assigned to room:</p>
            {{#each room.room_service.[0].service_staff as |staff|}}
                {{> personnel-details}}
            {{/each}}
        </div>
    </section>
</div>